# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

MFF/**/node_modules/
MFF/**/www/
MFF/**/platforms/
MFF/**/plugins/
MFF/**/.vscode/**

*.swp
.DS_Store
Thumbs.db